body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("https://images.wallpaperscraft.com/image/single/dog_autumn_blur_trees_96516_1366x768.jpg");
  }

  .button2{
    margin-left: 1100px;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;  
    background-color:gold;
    color: black;
    border-radius: 10px;
    border: none;
  }

  .button2:hover {
    opacity: 0.8;
    background-color:chocolate;
  }

  .button {
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    border: none;
  }
  
  .button:hover {
    opacity: 0.8;
    background-color: darkcyan;
  }
  
  .button-primary {
    background-color: coral;
    color: #fff;
  }
  
  .error-message {
    width: 100%;
    display: inline-block;
    padding: 5px;
    background: red;
    color: #fff;
    text-align: center;
    margin: 0.5rem 0;
  }
  
  .success-message {
    width: 100%;
    display: inline-block;
    padding: 5px;
    background: green;
    color: #fff;
    text-align: center;
    margin: 0.5rem 0;
  }

  .form-group,
  .form-group label,
  .form-group input {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  
  .form-group label {
    font-size: 0.8rem;
  }
  
  .form-group input {
    padding: 10px 20px;
    border: none;
    border-bottom: 3px solid transparent;
    background-color: #eee;
    outline-width: 0;
    font-size: 1rem;
  }
  
  .form-group input:focus {
    border-bottom: 3px solid coral;
  }